In [2]:
import pandas as pd
import numpy as np

In [3]:
# higher level categories
crime_list = ['VANDALISM','MURDER','THEFT','DECEPTIVE PRACTICE','SEXUAL OFFENSE','ASSAULT','KIDNAPPING','HIT AND RUN']

In [4]:
ls

analysis.ipynb  BE_PROJECT.csv

In [7]:
df = pd.read_csv('BE_PROJECT.csv')

In [31]:
df.head()

,Date,Title,Text,Address,CATEGORY
0,2/1/2018,Driver of ATM van flees with ₹74.5 lakh,"A driver with a cash logistics firm, which pro...",Bhosari,THEFT
1,2/1/2018,Two men booked for outraging modesty of 29-yr-...,"The police are on the lookout for two men, who...",None,None
2,2/1/2018,One held for murdering watchman,CCTV footage and a timely tip-off helped the B...,None,None
3,2/1/2018,"Bike rams tractor trolley, 2 killed",A motorcyclist and his pillion rider died afte...,None,None
4,2/1/2018,Man held for abetting wife’s suicide,The Sangvi police on Tuesday arrested Rajendra...,None,None

In [11]:
df.drop('Timestamp', axis = 1, inplace = True)

In [14]:
df['Address'] = None

In [16]:
df['CATEGORY'] = None

In [104]:
df.iloc[20]['Text']

'The cybercrime cell of the city police arrested a man for duping a software engineer of Rs 25,000 after promising her the services of a domestic help. The techie had got in touch with the suspect through a web portal, and she had paid Rs 25,000 for services of a maid. However, when no maid was sent, she lodged a police complaint. It has now emerged that the suspect, identified as Vikram Atar Singh (31) of Wakad, had duped over a 100 persons in the city and Pimpri Chinchwad. Singh had also cheated a woman from the Airport area and with his arrest, police have also solved that case.'

In [106]:
def setFunc(rec_no, address, category):
    df.iloc[rec_no]['Address'] = address
    df.iloc[rec_no]['CATEGORY'] = category
    print(df.iloc[rec_no])

In [107]:
setFunc(20, 'Pimpri Chinchwad', 'DECEPTIVE PRACTICE')

Date                                                 2/4/2018
Title          Man arrested for false promise of maid service
Text        The cybercrime cell of the city police arreste...
Address                                      Pimpri Chinchwad
CATEGORY                                   DECEPTIVE PRACTICE
Name: 20, dtype: object

In [108]:
df[10:21]

,Date,Title,Text,Address,CATEGORY
10,2/2/2018,Car driver held,The Hinjewadi police on Thursday arrested Dipe...,Pashan-Sutarwadi,ACCIDENT
11,2/2/2018,Valuables worth ₹42.87L stolen in 3 burglaries,"Cash, ornaments and valuables worth Rs 42.86 l...",Vishrantwadi,THEFT
12,2/3/2018,Man booked for harassing 16-year-old sister-in...,The Kondhwa police have registered an offence ...,Kondhwa,SEX OFFENSE
13,2/3/2018,One killed in hit-and-run,A woman was killed and another person injured ...,Pune-Solapur Road,ACCIDENT
14,2/3/2018,Cash stolen from shop,"Unidentified persons made away with Rs 4 lakh,...",Bhavani Peth,THEFT
15,2/3/2018,Theft in scrap kiosk,Unidentified persons broke into a scrap shop i...,Guruwar Peth,THEFT
16,2/3/2018,Burglary in Kothrud,A 69-year-old resident of Bhusari Colony on Pa...,Paud Road,THEFT
17,2/3/2018,Grocer duped of ₹81L,The Market Yard police on Thursday registered ...,Market Yard,DECEPTIVE PRACTICE
18,2/3/2018,3 dupe techie of ₹3.13L over fake job offer,A 30-year-old engineer working with a city-bas...,Unknown,DECEPTIVE PRACTICE
19,2/3/2018,Cops nab fleeing cellphone thief,The Pimpri police on Wednesday night chased an...,Pimpri,THEFT
20,2/4/2018,Man arrested for false promise of maid service,The cybercrime cell of the city police arreste...,Pimpri Chinchwad,DECEPTIVE PRACTICE